.info-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .info-container-1 {
    background-color: #212121;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex-basis: 50%;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 9px;
  }
  
  .info-container-2 {
    background-color: #2d2c2e;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 29%;
    padding-left: 64px;
    margin-bottom: 64px;
  }
  
  .info-text {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #f8e0d6;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .info-container-3 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-basis: 57%;
  }
  
  .info-container-4 {
    background-color: #2d2c2e;
    position: relative;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 100%;
    padding-right: 30px;
    margin-right: 64px;
  }
  
  .info-text-1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #eb9682;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .info-container-5 {
    position: relative;
    width: 1219px;
    height: 559px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-self: flex-start;
  }
  
  .info-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 912px;
    top: -213px;
    width: 411px;
    height: 253px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    object-fit: cover;
    z-index: 3;
  }
  
  .info-image-1 {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 615px;
    height: 559px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    object-fit: cover;
    z-index: 2;
  }
  
  .info-text-2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #fec2a9;
    position: absolute;
    left: 445px;
    top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 1;
  }
  
  .info-container-6 {
    background-color: #212121;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .info-container-7 {
    background-image: url('');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-basis: 100%;
    padding-right: 14px;
  }
  
  .info-image-2 {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 478px;
    height: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: 30px;
    object-fit: cover;
  }
  
  .info-container-8 {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .info-image-3 {
    border-radius: 20px;
    position: relative;
    width: 248px;
    height: 133px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    object-fit: cover;
  }
  
  .info-text-3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #e9856f;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .info-text-4 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #eb9682;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .info-container-9 {
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-basis: 52%;
  }
  
  .info-container-10 {
    background-color: #f2eede;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 29%;
    margin-right: 53px;
  }
  
  .info-image-4 {
    position: relative;
    width: 85px;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    object-fit: cover;
  }
  
  .info-text-5 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #000000;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .info-container-11 {
    background-color: #ebf5df;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 29%;
    margin-right: 53px;
  }
  
  .info-image-5 {
    position: relative;
    width: 87px;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    object-fit: cover;
  }
  
  .info-text-6 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #000000;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .info-container-12 {
    background-color: #f8e0d6;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 29%;
    padding-bottom: 15px;
  }
  
  .info-image-6 {
    position: relative;
    width: 101px;
    height: 103px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    object-fit: cover;
  }
  
  .info-text-7 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #000000;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }