<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <input class="input-field" type="text" />

    <div class="frame">
      <div class="center hidden">
        <div class="keyboard">
          <ul class="alphabets">
            <li tabindex="0">
              <img src="./a.jpg" id="a" />
            </li>
            <li tabindex="0">
              <img src="./b.jpg" id="b" />
            </li>
            <li tabindex="0">
              <img src="c.jpg" id="c" />
            </li>
            <li tabindex="0">
              <img src="d.jpg" id="d" />
            </li>
            <li tabindex="0">
              <img src="e.jpg" id="e" />
            </li>
            <li tabindex="0">
              <img src="f.jpg" />
            </li>
            <li tabindex="0">
              <img src="g.jpg" />
            </li>
            <li tabindex="0">
              <img src="h.jpg" />
            </li>
            <li tabindex="0">
              <img src="i.jpg" />
            </li>
            <li tabindex="0">
              <img src="j.jpg" />
            </li>
            <li tabindex="0">
              <img src="k.jpg" />
            </li>
            <li tabindex="0">
              <img src="L.jpg" />
            </li>
            <li tabindex="0">
              <img src="m.jpg" />
            </li>
            <li tabindex="0">
              <img src="n.jpg" />
            </li>
            <li tabindex="0">
              <img src="o.jpg" />
            </li>
            <li tabindex="0">
              <img src="p.jpg" />
            </li>
            <li tabindex="0">
              <img src="q.jpg" />
            </li>
            <li tabindex="0">
              <img src="r.jpg" />
            </li>
            <li tabindex="0">
              <img src="s.jpg" />
            </li>
            <li tabindex="0">
              <img src="t.jpg" />
            </li>
            <li tabindex="0">
              <img src="u.jpg" />
            </li>
            <li tabindex="0">
              <img src="v.jpg" />
            </li>
            <li tabindex="0">
              <img src="w.jpg" />
            </li>
            <li tabindex="0">
              <img src="x.jpg" />
            </li>
            <li tabindex="0">
              <img src="y.jpg" />
            </li>
            <li tabindex="0">
              <img src="z.jpg" />
            </li>
          </ul>
          <ul class="numbers">
            <li tabindex="0">
              <img src="0_1.jpg" />
            </li>
            <li tabindex="0">
              <img src="1.jpg" />
            </li>
            <li tabindex="0">
              <img src="2.jpg" />
            </li>
            <li tabindex="0">
              <img src="3.jpg" />
            </li>
            <li tabindex="0">
              <img src="4.jpg" />
            </li>
            <li tabindex="0">
              <img src="5.jpg" />
            </li>
            <li tabindex="0">
              <img src="6.jpg" />
            </li>
            <li tabindex="0">
              <img src="7.jpg" />
            </li>
            <li tabindex="0">
              <img src="8.jpg" />
            </li>
            <li tabindex="0">
              <img src="9.jpg" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      document
        .querySelector(".input-field")
        .addEventListener("click", function () {
          document.querySelector(".center").classList.toggle("hidden");
        });
    </script>
  </body>
</html>
