@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.hidden{
  display: none;
}


img{
  height: 32px;
  width:32px
}

.frame {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: gray;
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  width: 400px;
  color: #fff;
  background-color: #383333;
}

.keyboard {
  background-color: #666;
  border-top: 3px solid #888;
  padding-top: 10px;
}

.keyboard .alphabets,
.keyboard .numbers {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.keyboard .alphabets li,
.keyboard .numbers li {
  width: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.keyboard li:active {
  color: goldenrod;
}

.keyboard li:focus-visible {
  outline: solid 1px goldenrod;
}